.Description{
    background-color: #6E07F3;
}

.Description h2{
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-family: Acme;
    text-decoration: none;
    font-weight: 700;
    margin: 0 0 8px 0;
    padding: 10px;
    padding-top: 40px;
    min-width: auto;
}

.Description p{
    color: #fff;
    font-family: Amaranth;
    font-size: 23px;
    line-height: 34.5px;
    text-decoration: none;
    text-align: center;
    margin: 0 0 16px 0;
    padding: 10px 40px 60px 40px;
}